@model Mesajlar
@{
    ViewData["Title"] = "Sil";
    Layout = "~/Views/Shared/_LayoutYonetim.cshtml";
}

<div class="card">
    <div class="card-heading border bottom">
        <br />
        <h4 class="card-title text-center">Mesaj Sil</h4>
    </div>
    <div class="card-block">
        <div class="row">
            <div class="col-md-9 ml-auto mr-auto">
                <form asp-controller="YonetimMesajlar" asp-action="Sil" method="post" enctype="multipart/form-data" class="form-horizontal mrg-top-40 pdd-right-30 ng-pristine ng-valid">
                    <div class="form-group">
                        <br />
                        <label>Gönderici Ad Soyad</label>
                        <input type="text" class="form-control" asp-for="AdSoyad" value="@Model.AdSoyad" readonly>
                    </div>
                    <div class="form-group">
                        <label>Gönderici Mail Adresi</label>
                        <input type="text" class="form-control" asp-for="Mail" value="@Model.Mail" readonly>
                    </div>
                    <div class="form-group">
                        <label>Gönderim Tarihi</label>
                        <input type="text" class="form-control" asp-for="Tarih" value="@Model.Tarih" readonly>
                    </div>
                    <div class="form-group">
                        <label>Mesaj Başlık</label>
                        <input type="text" class="form-control" asp-for="Baslik" value="@Model.Baslik" readonly>
                    </div>
                    <div class="form-group">
                        <label>Mesaj İçerik</label>
                        <textarea class="form-control" asp-for="Icerik" rows="5" readonly>@Model.Icerik</textarea>
                    </div>
                    <center><button type="submit" class="btn btn-danger"><i class="fa fa-plus" aria-hidden="true"></i> Mesaj Sil</button></center><br />
                </form>
            </div>
        </div>
    </div>
</div>


